@import url("https://fonts.googleapis.com/css?family=Roboto|Arsenal|Rochester");
body {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
}

.table-line-padding {
  padding-left: 100px;
}

.thumbnail img {
  max-width: 250px;
}
