@import url("https://fonts.googleapis.com/css?family=Roboto|Arsenal|Rochester");
/* ==========================================================================
        bleu marine et or
========================================================================== */
/* ==========================================================================
        Bleu et gris
========================================================================== */
/*
// Header
$background-color-header: #074E68;

// Footer
$font-color-social-bg: #989898;
$font-color-social-icon: #333333;
$background-color-footer: #333333;

// Soin_visage view
$table-line-padding: 100px;*/
/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
body {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
}

address {
  font-style: normal !important;
}

.table-line-padding {
  padding-left: 100px;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
@media print, screen and (min-width: 40em) {
  .thumbnail img {
    max-width: 250px;
  }
}
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
