<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Les P'tits Soins, Esthétique à domicile Valenciennes,
        esthéticienne à domcile Valenciennes, esthétique à domicile à Valenciennes dans le Nord</title>

    <!-- Assets -->
    <link rel="stylesheet" href="../assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="../assets/foundation/css/app.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/css/default.css">
    <link rel="stylesheet" href="../styles/css/off-canvas.css">
    <link rel="stylesheet" href="../styles/css/header.css">
    <link rel="stylesheet" href="../styles/css/footer.css">

    <link rel="stylesheet" href="../styles/css/index.css">

</head>
<body>

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <!-- OFF-CANVAS DISPLAY ON MOBILE -->
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
            <ul class="off-canvas-list">
                <li><label class="off-canvas__title">Les P'tits soinS</label></li>

            </ul>
            <hr>
            <ul class="off-canvas-list">
                <li><a href="#">Accueil</a></li>
                <li><a href="soin_visage.html">Soin visage</a></li>
                <li><a href="#">Soin corps</a></li>
                <li><a href="#">Epilation</a></li>
                <li><a href="#">Beauté des mains</a></li>
                <li><a href="#">Beauté des pieds</a></li>
                <li><a href="#">Maquillage</a></li>
            </ul>
            <hr>
            <ul class="off-canvas-list">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Zone de déplacement</a></li>
                <li><a href="#">Mentions légales</a></li>
            </ul>
            <hr>
        </div>

        <!-- CONTENT OF WEBPAGE -->
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar hide-for-medium">
                <div class="title-bar-left">
                    <button class="menu-icon-style" type="button" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvas">
                        <i class="fa fa-navicon title-bar__icon"></i>
                    </button>
                </div>
            </div>

            <!-- HEADER -->
            <header class="header">

                <h1 class="headline">
                    <span class="headline-main">Les P'tits soinS</span>
                    <!--<small>Se faire plaisir et être belle chez soi</small>-->
                </h1>

                <ul class="header-subnav show-for-medium">
                    <li class="hide-for-medium-only"><a href="index.html" tabindex=1 >Accueil</a></li>
                    <li><a href="#" tabindex=2 >Soin visage</a></li>
                    <li><a href="#" tabindex=3>Soin corps</a></li>
                    <li><a href="#" tabindex=4>Epilation</a></li>
                    <li><a href="#" tabindex=5>Beauté des mains</a></li>
                    <li><a href="#" tabindex=6>Beauté des pieds</a></li>
                    <li><a href="#" tabindex=7>Maquillage</a></li>
                </ul>
            </header>

            <!-- MAIN -->
            <main>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="px0hxu-orbit">
                            <ul class="orbit-container" tabindex="0" style="height: 350px;">
                                <button class="orbit-previous" aria-label="previous" tabindex="0"><span class="show-for-sr">Previous Slide</span>◀</button>
                                <button class="orbit-next" aria-label="next" tabindex="0"><span class="show-for-sr">Next Slide</span>▶</button>
                                <li class="orbit-slide" data-slide="0" style="max-height: 350px; display: none; position: relative; top: 0px;">
                                    <img src="https://placehold.it/2000x750&amp;text=1st">
                                </li>
                                <li class="orbit-slide" data-slide="1" style="position: relative; max-height: 714px; top: 0px; display: none;">
                                    <img src="https://placehold.it/2000x750&amp;text=2nd">
                                </li>
                                <li class="orbit-slide" data-slide="2" style="position: relative; max-height: 714px; top: 0px; display: none;">
                                    <img src="https://placehold.it/2000x750&amp;text=3nd">
                                </li>
                                <li class="orbit-slide is-active" data-slide="3" style="position: relative; max-height: 714px; top: 0px; display: block;" aria-live="polite">
                                    <img src="https://placehold.it/2000x750&amp;text=4nd">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns text-center presentation">
                        <p>Bonjour, je suis Christel Esthéticienne à domicile à Valenciennes pour particuliers et professionnels.</p>
                        <p>Je vous propose des soins de beauté et d'esthétique à domicile, pour une clientèle exclusivement féminine.</p>
                        <p>Je me déplace  dans les alentours de Valenciennes à votre domicile, sur votre lieu de travail ou votre résidence privée sur rendez-vous.</p>
                        <p>Je vous laisse découvrir la gamme de soins que je propose à travers les différentes rubriques de mon site.</p>
                        <p>Pour plus d'informations, je reste à votre entière disposition, pour me contacter rendez-vous dans la rubrique "Contact" qui vous fournira toutes les informations nécessaires.</p>
                        <p>Bonne visite et à très bientôt.</p>

                        Christel votre Esthéticienne
                    </div>
                </div>
            </main>

            <!-- FOOTER -->
            <footer>
                <div class="row">
                    <div class="medium-4 medium-push-8 columns">
                        <ul class="footer__social-links">
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                     <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="medium-8 medium-pull-4 columns">
                        <ul class="footer__lps-links">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Zone de déplacement</a></li>
                            <li><a href="#">Mentions légales</a></li>
                        </ul>
                        <p class="copyright">© Copyright Les P'tits soinS 2017.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script></script>

<!-- SCRIPTS -->
<script src="../assets/foundationStickyFooter/stickyFooter.js"></script>

<!-- FOUNDATION -->
<script src="../assets/foundation/js/vendor/jquery.js"></script>
<script src="../assets/foundation/js/vendor/what-input.js"></script>
<script src="../assets/foundation/js/vendor/foundation.js"></script>
<script src="../assets/foundation/js/app.js"></script>
</body>
</html>














































