
/* ==========================================================================
        bleu marine et or
========================================================================== */

// Header
$background-color-header: #071D70;

// Footer
$font-color-social-bg: #989898;
$font-color-social-icon: #333333;
$background-color-footer: #333333;

// Soin_visage view
$table-line-padding: 100px;

/* ==========================================================================
        Bleu et gris
========================================================================== */

/*
// Header
$background-color-header: #074E68;

// Footer
$font-color-social-bg: #989898;
$font-color-social-icon: #333333;
$background-color-footer: #333333;

// Soin_visage view
$table-line-padding: 100px;*/
