@import "variables";

/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
h5 {
  font-weight: bold;
  i{
    margin-right: 5px;
    color: $background-color-header;
  }
}

#map {
  height: 300px;
  width: 100%;
  border: 0;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
  #map {
    height: 450px;
  }

}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
}