@import url('https://fonts.googleapis.com/css?family=Roboto|Arsenal|Rochester');
@import "variables";


body{
  font-family :  "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering : optimizeLegibility;
}

// Table pricing
.table-line-padding{
padding-left: $table-line-padding;
}