@import url('https://fonts.googleapis.com/css?family=Roboto|Arsenal|Rochester');
@import "variables";


/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

body {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
}

// Table pricing
.table-line-padding {
  padding-left: $table-line-padding;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
  // Images display on left side of each care descriptions
  .thumbnail img {
    max-width: 250px;
  }
}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
}